<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmotéka
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionInput)="searchMovie($event)" debounce="500" placeholder="Hledat film..."></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let m of movies" [routerLink]="['/movie-details', m.id]" detail>
      <ion-thumbnail slot="start">
        <img [src]="m.poster" alt="poster" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ m.title }}</h2>
        <p>{{ m.year }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
